<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

</head>
<body style="background-color: #eee;">

    <div class="container mt-5" id="forms">
        <div class="row">
            <div class="col-4 mt-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4>500</h4>
                            <span>Fournisseurs</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <a href="" class="btn shadow-none btn-sm btn-outline-success" data-toggle="modal" data-target="#fournisseur-modal">
                                <span class="fa fa-plus"></span>
                            </a>
                            <a href="{% url 'list_provider' %}" class="btn shadow-none btn-sm btn-outline-info" >
                                <span class="fa fa-list"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4 mt-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4>500</h4>
                            <span>Produits</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="" class="btn shadow-none btn-sm btn-outline-success" data-toggle="modal" data-target="#produit-modal">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4 mt-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4>500</h4>
                            <span>Clients</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="" class="btn shadow-none btn-sm btn-outline-success" data-toggle="modal" data-target="#client-modal">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4 mt-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4>500</h4>
                            <span>Vehicules</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="" class="btn shadow-none btn-sm btn-outline-success" data-toggle="modal" data-target="#vehicule-modal">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4 mt-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4>500</h4>
                            <span>Commande</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="" class="btn shadow-none btn-sm btn-outline-success" data-toggle="modal" data-target="#commande-modal">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="mt-5 bg-white p-3">
        <div class="d-flex justify-content-between">
            <button id="forms-toggle" class="btn btn-sm btn-primary">Formulaire</button>
        </div>
    </div>




    <div class="modal fade" id="fournisseur-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Ajouter un fournisseur</div>
                <div class="modal-body">
                    <form action="{% url 'add_provider' %}" method="post" id="provider-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">Nom</label>
                            <input type="text" class="form-control" name="nom">
                        </div>
                        <div class="mb-3">
                            <label for="">Type</label>
                            <input type="number" class="form-control" name="type">
                        </div>
                        <div class="mb-3">
                            <label for="">Code</label>
                            <input type="text" class="form-control" name="code">
                        </div>
                        <div class="mb-3">
                            <label for="">Date de debut</label>
                            <input type="datetime-local" class="form-control" name="x">
                        </div>
                        <div class="mb-3">
                            <label for="">Date de fin</label>
                            <input type="datetime-local" class="form-control" name="y">
                        </div>
                        <button type="submit" class="btn btn-success btn-md float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="produit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Ajouter un produit</div>
                <div class="modal-body">
                    <form action="{% url 'add_produit' %}" method="post" id="provider-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">Nom</label>
                            <input required type="text" class="form-control" name="nom">
                        </div>
                        <div class="mb-3">
                            <label for="">Code</label>
                            <input required type="text" class="form-control" name="code">
                        </div>
                       <div class="mb-3">
                           <label for="">Fournisseur</label>
                           <select required name="provider_id" id="">
                               {% for provider in providers %}
                               <option value="{{ provider.pk }}">{{ provider.nom }}</option>
                               {% endfor %}

                           </select>
                       </div>
                        <button type="submit" class="btn btn-success btn-md float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="client-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Ajouter un client</div>
                <div class="modal-body">
                    <form action="{% url 'add_client' %}" method="post" id="provider-form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="">Nom</label>
                            <input type="text" class="form-control" name="nom">
                        </div>
                        <div class="mb-3">
                            <label for="">Type</label>
                            <input type="number" class="form-control" name="type">
                        </div>
                        <div class="mb-3">
                            <label for="">Code</label>
                            <input type="text" class="form-control" name="code">
                        </div>
                        <div class="mb-3">
                            <label for="">Date de debut</label>
                            <input type="datetime-local" class="form-control" name="x">
                        </div>
                        <div class="mb-3">
                            <label for="">Date de fin</label>
                            <input type="datetime-local" class="form-control" name="y">
                        </div>
                        <button type="submit" class="btn btn-success btn-md float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vehicule-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Ajouter un Vehicule</div>
                <div class="modal-body">
                    <form action="{% url 'add_vehicule' %}" method="post" id="">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="">Nom</label>
                            <input type="number" class="form-control" name="nom">
                        </div>
                        <div class="mb-3">
                            <label for="">Nombre Compat</label>
                            <input type="number" class="form-control" name="nombrecompat">
                        </div>
                        <div class="mb-3">
                            <label for="">Capacité Compat</label>
                            <input type="number" class="form-control" name="capacitecompat">
                        </div>
                        <div class="mb-3">
                            <label for="">Coût</label>
                            <input type="number" class="form-control" name="cout">
                        </div>
                        <button type="submit" class="btn btn-success btn-md float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commande-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Ajouter une commande</div>
                <div class="modal-body">
                    <form action="{% url 'add_commande' %}" method="post" id="">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="">Quantite</label>
                            <input required type="number" class="form-control" name="quantite">
                        </div>
                        <div class="mb-3">
                            <label for="">Fournisseur</label>
                            <select name="provider_id" id="">
                                {% for provider in providers %}
                                    <option value="{{ provider.pk }}">{{ provider.nom }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Client</label>
                            <select name="client_id" id="">
                                {% for client in clients %}
                                    <option value="{{ client.pk }}">{{ client.nom }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="">Produit</label>
                            <select name="produit_id" id="">
                                {% for produit in produits %}
                                    <option value="{{ produit.pk }}">{{ produit.nom }}</option>
                                {% endfor %}

                            </select>
                        </div>

                        <button type="submit" class="btn btn-success btn-md float-right">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
  Swal.fire({
      icon: "success",
      position: 'top-end',
      title: "{{ message }}"
  })

    {% endfor %}
</script>
{% endif %}

    <script>
    $('#forms-toggle').on('click', ()=>{
        $('#forms').slideToggle(1000)
    })
    $('input, textarea, select').addClass('form-control')


</script>
</body>
</html>